.App {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
  }
  button {
    background-color: lightgray;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
  }
  button + button {
    margin-left: 0.5rem;
  }
  .increment {
    background-color: green;
    border-color: rgb(0, 69, 0);
  }
  .decrement {
    background-color: red;
    border-color: rgb(110, 2, 2);
  }